@import "global.scss";

#hero {
  height: 700px;
  @include flex-center-center;

  .container {
    max-width: 1200px;
    width: 100%;
    @include flex-center-center;

    .hero-text {
      width: 600px;
      margin-right: 10rem;

      button {
        border: 2px solid $dark;
        border-radius: 1rem;
        cursor: pointer;
        background-color: $dark;
        color: $tertiary;
        padding: 1rem 2rem;
        font-size: 1.5rem;
        transition: 0.3s;

        &:hover {
          background-color: $light;
          color: $dark;
        }
      }
    }

    img {
      height: 500px;
    }
  }
}
